@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yellowtail:300,400,500,600,700,800,900&display=swap");

$logo-font: Yellowtail, cursive;
$font-stack: Poppins, sans-serif;
$background-gradient: #fff2bd, #f4d797, #ebb58a, #da7f7d, #b5728e, #776e99;
$iconHeight: 5vw;
$iconWidth: 5vw;

@function get-vw($target) {
  $vw-context: (1000 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

* {
  font-family: $font-stack;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient($background-gradient);
  overflow-x: hidden;
  width: 100%;
}

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    .logo {
      font-family: $logo-font;
      text-decoration: none;
      text-transform: uppercase;
      color: #3792cb;
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: 1px;
      -webkit-text-stroke: 0.1px #fff;
      text-shadow: 0px 4px 4px #282828;
      margin-left: 3rem;
      margin-top: 3rem;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3rem;
      margin-top: 3rem;
      margin-bottom: 0;

      li {
        list-style: none;
        margin-left: 12px;

        a {
          text-decoration: none;
          background-color: #3792cb;
          color: #fff;
          border-radius: 24px;
          padding: 6px 12px;
        }

        a:hover,
        a:active {
          background: #fff;
          color: #000000;
        }
      }
    }
  }
}

section.landingPage {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: fit-content;
  height: 100vh;

  img {
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  #birds {
    height: 25%;
    width: auto;
    transform: translate(45vw, 25vh);
    z-index: 2;
  }

  #clouds {
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
  }

  #mountainsBehind {
    z-index: 1;
  }

  #sun {
    mix-blend-mode: color-burn;
  }

  #treesFront {
    z-index: 3;
  }

  #text {
    position: absolute;
    white-space: nowrap;
    color: #fff;
    font-size: 8vw;
    right: -60%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
section.landingPage::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #ca822d, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 4;
}

#toTopButton {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
  z-index: 10;
  border: none;
  outline: none;
  background-color: #3792cb;
  cursor: pointer;
  padding: 15px;
  border-radius: 12px;
  font-size: 18px;

  a {
    color: #fff;
    text-decoration: none;
  }
}
#toTopButton:hover {
  background-color: #fff;

  a {
    color: #000000;
  }
}

#skills {
  position: relative;
  background: #ca822d;
  padding-top: 84px;
  padding-bottom: 84px;
  width: 100%;

  h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 60px;
  }

  h3 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  div {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .col-6 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .stackContainer {
      position: relative;
      height: 582px;

      img {
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 18vw;
        object-fit: contain;
      }
    }

    .skillsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }

  figure {
    margin: 1.5vw;

    .skill {
      vertical-align: top;
      display: inline-block;
      text-align: center;
    }

    .icon {
      height: $iconHeight;
      width: $iconWidth;
    }

    .bootstrap {
      height: $iconHeight;
      width: auto;
    }

    figcaption {
      display: block;
      font-weight: 600;
      color: #fff;
    }
  }

  .jsonIcon {
    height: $iconHeight;
    width: $iconWidth;
    margin: auto;
  }

  #stackTop {
    transform: translateY(-36%);
    z-index: 1;
    clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
    -webkit-clip-path: polygon(
      50% 100%,
      100% 57%,
      100% 43%,
      50% 0,
      0% 43%,
      0% 57%
    );
  }
  #stackTop:hover {
    scale: 1.2;
  }

  #stackMiddle {
    z-index: 1;
    clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
    -webkit-clip-path: polygon(
      50% 100%,
      100% 57%,
      100% 43%,
      50% 0,
      0% 43%,
      0% 57%
    );
  }
  #stackMiddle:hover {
    scale: 1.2;
  }

  #stackBottom {
    transform: translateY(36%);
    z-index: 1;
    clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
    -webkit-clip-path: polygon(
      50% 100%,
      100% 57%,
      100% 43%,
      50% 0,
      0% 43%,
      0% 57%
    );
  }
  #stackBottom:hover {
    scale: 1.2;
  }

  #skillsHeader {
    font-size: 1.2vw;
  }

  #frontEndSkills {
    display: none;
  }

  #middleTierSkills {
    display: none;
  }

  #backEndSkills {
    display: none;
  }

  #toolsIcon {
    z-index: 2;
    width: 3vw;
    height: auto;
    transform: translateY(-360%);
  }

  #tools {
    display: none;
  }
}
#skills::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #834945, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#projects {
  position: relative;
  background: #834945;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;

  h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 60px;
  }

  h2 {
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 3vh;
  }

  div {
    .project {
      padding-bottom: 10vh;
      justify-content: center;
      position: relative;
      overflow: visible;
      transform: translateX(-50%) translateY(50%);
      opacity: 0;
      transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    }
    .project.animate {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }

    .projectDetails {
      padding-top: 3vh;
      padding-bottom: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .projectDescription {
      text-align: justify;
      perspective: 1000px;
      padding-left: 12px;
      padding-right: 12px;

      .projectLinks {
        width: 60px;
        height: auto;
        margin: 0 auto;
      }
    }

    .paragraphBackground {
      background-color: #5c3936;
      padding: 12px;
      border-radius: 24px;
      box-shadow: 0px 0px 18px 3px black;
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
    }

    .projectExample {
      text-align: center;

      iframe {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  p {
    margin-bottom: 0;
    color: #fff;
  }
}
#projects::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #5a3e49, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#about {
  position: relative;
  background: #5a3e49;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;

  h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 60px;
  }

  .aboutMe {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    .imageContainer {
      position: relative;
      display: inline-block;
      width: 200px;
      height: 200px;
      perspective: 1000;

      .profileImage,
      .front,
      .back {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .profileImage {
        transition: 0.5s;
        transform-style: preserve-3d;
        position: relative;
      }

      .front,
      .back {
        backface-visibility: hidden;
        position: absolute;
      }

      .front {
        z-index: 1;
        transform: rotateY(0deg);
        background: url("../assets/photos/1667327087181.jpg") no-repeat;
        background-size: cover;
      }

      .back {
        z-index: 2;
        transform: rotateY(180deg);
        background: url("../assets/photos/IMG_20150209_074526.jpg") no-repeat;
        background-size: cover;
      }
    }
    .imageContainer:hover .profileImage {
      transform: rotateY(180deg);
    }

    .name {
      margin-top: 20px;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
    }

    .description {
      font-size: 18px;
      line-height: 1.5;
      margin-top: 20px;
      margin-bottom: 30px;
      color: #fff;
    }
  }
}
#about::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #32334d, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#contact {
  position: relative;
  background: #32334d;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;

  h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 60px;
  }

  .contactFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 50%;

    label {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: #fff;
    }

    .formGroup {
      width: 100%;

      textarea {
        height: 180px;
      }
    }

    .formInput {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      outline: none;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    input,
    textarea {
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
      width: 100%;
      box-sizing: border-box;
      background-color: #f5f5f5;
      font-size: 16px;
    }

    button[type="submit"] {
      display: block;
      margin: 0 auto;
      background-color: #0077cc;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }
    button[type="submit"]:hover {
      background-color: #005fa3;
    }
  }

  #grayPanel {
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 99999;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 50;
  }

  #popup {
    height: 200px;
    width: 400px;
    border: solid 2px black;
    background: yellow;
    display: none;
    z-index: 51;
    position: fixed;
    top: 70;
  }
}

footer {
  position: fixed;
  text-align: center;
  left: 50%;
  bottom: 0;
  width: 200px;
  color: #fff;
  z-index: 0;
  transform: translate(-50%, 0);

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      // padding-left: 20px;

      a {
        text-decoration: none;
        background-color: #3792cb;
        color: #fff;
        border-radius: 30px;
        padding: 6px 13px;
        font-size: 30px;
      }

      a:hover,
      a:active {
        background: #fff;
        color: #000000;
      }
    }
  }
}

.sitePreview {
  display: none;
  position: absolute;
  border: 1px solid #000;
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  header {
    display: none;
  }

  #contact {
    form {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 499px) {
  .projectExample {
    iframe {
      width: 280px;
      height: 157.5px;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .projectExample {
    iframe {
      width: 430.77px;
      height: 242.31px;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .projectExample {
    iframe {
      width: 430.77px;
      height: 242.31px;
    }
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1400px) {
  .projectExample {
    iframe {
      width: 466.67px;
      height: 262.5px;
    }
  }
}

@media only screen and (min-width: 1401px) {
  .projectExample {
    iframe {
      width: 616px;
      height: 346.5px;
    }
  }
}
