@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yellowtail:300,400,500,600,700,800,900&display=swap");
* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#fff2bd, #f4d797, #ebb58a, #da7f7d, #b5728e, #776e99);
  overflow-x: hidden;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
header .logo {
  font-family: Yellowtail, cursive;
  text-decoration: none;
  text-transform: uppercase;
  color: #3792cb;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.1px #fff;
  text-shadow: 0px 4px 4px #282828;
  margin-left: 3rem;
  margin-top: 3rem;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  margin-top: 3rem;
  margin-bottom: 0;
}
header ul li {
  list-style: none;
  margin-left: 12px;
}
header ul li a {
  text-decoration: none;
  background-color: #3792cb;
  color: #fff;
  border-radius: 20px;
  padding: 6px 12px;
}
header ul li a:hover,
header ul li a:active {
  background: #fff;
  color: #000000;
}

section.landingPage {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: fit-content;
  height: 100vh;
}
section.landingPage img {
  pointer-events: none;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
section.landingPage #birds {
  height: 25%;
  width: auto;
  transform: translate(45vw, 25vh);
  z-index: 2;
}
section.landingPage #clouds {
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}
section.landingPage #mountainsBehind {
  z-index: 1;
}
section.landingPage #sun {
  mix-blend-mode: color-burn;
}
section.landingPage #treesFront {
  z-index: 3;
}
section.landingPage #text {
  position: absolute;
  white-space: nowrap;
  color: #fff;
  font-size: 8vw;
  right: -60%;
  transform: translateY(-50%);
  z-index: 1;
}

section.landingPage::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #ca822d, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 4;
}

#toTopButton {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
  z-index: 10;
  border: none;
  outline: none;
  background-color: #3792cb;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#toTopButton a {
  color: #fff;
  text-decoration: none;
}

#toTopButton:hover {
  background-color: #fff;
}
#toTopButton:hover a {
  color: #000000;
}

#skills {
  position: relative;
  background: #ca822d;
  padding-top: 84px;
  padding-bottom: 84px;
  width: 100%;
}
#skills h1 {
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 10px;
}
#skills h3 {
  color: #fff;
  font-size: 3vh;
  text-align: center;
  text-justify: auto;
  padding-left: 24px;
  padding-right: 24px;
}
#skills div .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#skills div .col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills div .stackContainer {
  height: 69vh;
}
#skills div .skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}
#skills figure {
  margin: 1.5vw;
}
#skills figure .skill {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
#skills figure .jsonIcon {
  height: 6vw;
  width: 6vw;
  margin: auto;
}
#skills figure .icon {
  height: 6vw;
  width: 6vw;
}
#skills figure .bootstrap {
  height: 6vw;
  width: auto;
}
#skills figure figcaption {
  display: block;
  font-weight: 600;
  color: #fff;
}
#skills #stackTop {
  position: absolute;
  transform: translateY(-36%);
  z-index: 1;
  height: auto;
  width: 100%;
  max-width: 24vw;
  clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
  -webkit-clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
}
#skills #stackTop:hover {
  scale: 1.2;
}
#skills #stackMiddle {
  position: absolute;
  z-index: 1;
  height: auto;
  width: 100%;
  max-width: 24vw;
  clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
  -webkit-clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
}
#skills #stackMiddle:hover {
  scale: 1.2;
}
#skills #stackBottom {
  position: absolute;
  transform: translateY(36%);
  z-index: 1;
  height: auto;
  width: 100%;
  max-width: 24vw;
  clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
  -webkit-clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
}
#skills #stackBottom:hover {
  scale: 1.2;
}
#skills #frontEndSkills {
  display: none;
}
#skills #middleTierSkills {
  display: none;
}
#skills #backEndSkills {
  display: none;
}

#skills::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #834945, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#projects {
  position: relative;
  background: #834945;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
}
#projects h1 {
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 36px;
}
#projects h2 {
  color: #fff;
  font-size: 1.8rem;
}
#projects div .project {
  padding-left: 10%;
  padding-right: 10%;
}
#projects div .projectDetails {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#projects div .projectExample {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#projects::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #5a3e49, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#about {
  position: relative;
  background: #5a3e49;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
}
#about h1 {
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 10px;
}

#about::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #32334d, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#contact {
  position: relative;
  background: #32334d;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
}
#contact h1 {
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 10px;
}

footer {
  position: fixed;
  text-align: center;
  left: 50%;
  bottom: 0;
  width: 200px;
  color: #fff;
  z-index: 1;
  transform: translate(-50%, 0);
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  padding-left: 0;
  margin-bottom: 0;
}
footer ul li {
  list-style: none;
  padding-left: 20px;
}
footer ul li a {
  text-decoration: none;
  background-color: #3792cb;
  color: #fff;
  border-radius: 30px;
  padding: 6px 14px;
  font-size: 30px;
}
footer ul li a:hover,
footer ul li a:active {
  background: #fff;
  color: #000000;
}

@media only screen and (max-width: 700px) {
  header {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
