@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yellowtail:300,400,500,600,700,800,900&display=swap");

$logo-font: Yellowtail, cursive;
$font-stack: Poppins, sans-serif;
$background-gradient: #fff2bd, #f4d797, #ebb58a, #da7f7d, #b5728e, #776e99;
$iconHeight: 6vw;
$iconWidth: 6vw;

* {
  font-family: $font-stack;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient($background-gradient);
  overflow-x: hidden;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  .logo {
    font-family: $logo-font;
    text-decoration: none;
    text-transform: uppercase;
    color: #3792cb;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-text-stroke: 0.1px #fff;
    text-shadow: 0px 4px 4px #282828;
    margin-left: 3rem;
    margin-top: 3rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 0;

    li {
      list-style: none;
      margin-left: 12px;

      a {
        text-decoration: none;
        background-color: #3792cb;
        color: #fff;
        border-radius: 20px;
        padding: 6px 12px;
      }

      a:hover,
      a:active {
        background: #fff;
        color: #000000;
      }
    }
  }
}

section {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: fit-content;
  height: 100vh;

  img {
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}
section::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #ca822d, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 4;
}

#birds {
  height: 25%;
  width: auto;
  transform: translate(45vw, 25vh);
  z-index: 2;
}

#clouds {
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

#mountainsBehind {
  z-index: 1;
}

#sun {
  mix-blend-mode: color-burn;
}

#treesFront {
  z-index: 3;
}

#text {
  position: absolute;
  white-space: nowrap;
  color: #fff;
  font-size: 8vw;
  right: -60%;
  transform: translateY(-50%);
  z-index: 1;
}

#toTopButton {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
  z-index: 10;
  border: none;
  outline: none;
  background-color: #3792cb;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;

  a {
    color: #fff;
    text-decoration: none;
  }
}
#toTopButton:hover {
  background-color: #fff;

  a {
    color: #000000;
  }
}

#skills {
  position: relative;
  background: #ca822d;
  padding-top: 84px;
  padding-bottom: 84px;
  width: 100%;

  h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 10px;
  }

  h3 {
    color: #fff;
    font-size: 3vh;
    text-align: center;
    text-justify: auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  div {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .col-6 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .stackContainer {
      height: 69vh;
    }

    .skillsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }

  figure {
    margin: 1.5vw;

    .skill {
      vertical-align: top;
      display: inline-block;
      text-align: center;
    }

    .jsonIcon {
      height: $iconHeight;
      width: $iconWidth;
      margin: auto;
    }

    .icon {
      height: $iconHeight;
      width: $iconWidth;
    }

    .bootstrap {
      height: $iconHeight;
      width: auto;
    }

    figcaption {
      display: block;
      font-weight: 600;
      color: #fff;
    }
  }
}
#skills::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #834945, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#stackTop {
  position: absolute;
  transform: translateY(-36%);
  z-index: 1;
  height: auto;
  width: 100%;
  max-width: 24vw;
  clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
  -webkit-clip-path: polygon(
    50% 100%,
    100% 57%,
    100% 43%,
    50% 0,
    0% 43%,
    0% 57%
  );
}
#stackTop:hover {
  scale: 1.2;
}

#stackMiddle {
  position: absolute;
  z-index: 1;
  height: auto;
  width: 100%;
  max-width: 24vw;
  clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
  -webkit-clip-path: polygon(
    50% 100%,
    100% 57%,
    100% 43%,
    50% 0,
    0% 43%,
    0% 57%
  );
}
#stackMiddle:hover {
  scale: 1.2;
}

#stackBottom {
  position: absolute;
  transform: translateY(36%);
  z-index: 1;
  height: auto;
  width: 100%;
  max-width: 24vw;
  clip-path: polygon(50% 100%, 100% 57%, 100% 43%, 50% 0, 0% 43%, 0% 57%);
  -webkit-clip-path: polygon(
    50% 100%,
    100% 57%,
    100% 43%,
    50% 0,
    0% 43%,
    0% 57%
  );
}
#stackBottom:hover {
  scale: 1.2;
}

#frontEndSkills {
  display: none;
}

#middleTierSkills {
  display: none;
}

#backEndSkills {
  display: none;
}

#projects {
  position: relative;
  background: #834945;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;

  h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 10px;
  }
}
#projects::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #5a3e49, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#about {
  position: relative;
  background: #5a3e49;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;

  h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 10px;
  }
}
#about::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #32334d, transparent);
  bottom: 0;
  height: 84px;
  width: 100%;
  z-index: 0;
}

#contact {
  position: relative;
  background: #32334d;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;

  h1 {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 10px;
  }
}

footer {
  position: fixed;
  text-align: center;
  left: 50%;
  bottom: 0;
  width: 200px;
  color: #fff;
  z-index: 1;
  transform: translate(-50%, 0);

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
    padding-left: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      padding-left: 20px;

      a {
        text-decoration: none;
        background-color: #3792cb;
        color: #fff;
        border-radius: 30px;
        padding: 6px 14px;
        font-size: 30px;
      }

      a:hover,
      a:active {
        background: #fff;
        color: #000000;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  header {
    display: none;
  }
}
